.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  border: solid 0.1px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
  margin: 10px;

  .card-container {
    display: flex;
    justify-content: space-around;
  }

  img {
    padding: 10px;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .box {
    padding: 2px 16px;
  }
}